<h2>Acompanhamento das ocorrências</h2>

<div class="box tabular">
  <%= form_tag project_issue_reports_path do %>
    <p>
      <%= label_tag(:issue_reports_start_date, "Data inicial") %>
      <%= text_field_tag(:issue_reports_start_date, params[:issue_reports_start_date], size: 10, required: true) %>
      <%= calendar_for('issue_reports_start_date') %>
    </p>

    <p>
      <%= label_tag(:issue_reports_due_date, "Data final") %>
      <%= text_field_tag(:issue_reports_due_date, params[:issue_reports_due_date], size: 10, required: true) %>
      <%= calendar_for('issue_reports_due_date') %>
    </p>

    <p><%= submit_tag("Gerar relatório") %></p>
  <% end %>
</div>

<% if @results %>
  <div class="issues box">
    <h3>
      Acompanhamento das ocorrências - período de:
      <%= format_date(params[:issue_reports_start_date]) %>
      à
      <%= format_date(params[:issue_reports_due_date]) %>
    </h3>
    <table class="list issue-report">
      <thead>
        <tr>
          <th rowspan="2">Grau de severidade</th>
          <th colspan="2">Resolvidas</th>
          <th colspan="2">Não resolvidas</th>
          <th>Total</th>
        </tr>
        <tr>
          <th>Qtd.</th>
          <th>%</th>
          <th>Qtd.</th>
          <th>%</th>
          <th>Qtd.</th>
        </tr>
      </thead>
      <tbody>
      <%
        total_resolved, total_unresolved, grand_total = 0, 0, 0
        1.upto(5) do |occurrence|
          resolved = @results[occurrence]['resolved']
          unresolved = @results[occurrence]['unresolved']
          total = resolved + unresolved
          total_resolved += resolved
          total_unresolved += unresolved
          grand_total += total
      %>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= occurrence %></td>
          <td><%= resolved %></td>
          <td><%= resolved > 0 ? (resolved.to_f / total.to_f * 100).round : 0 %></td>
          <td><%= unresolved %></td>
          <td><%= unresolved > 0 ? (unresolved.to_f / total.to_f * 100).round : 0 %></td>
          <td><%= total %></td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>Total</th>
          <th><%= total_resolved %></th>
          <th></th>
          <th><%= total_unresolved %></th>
          <th></th>
          <th><%= grand_total %></th>
        </tr>
      </tfoot>
    </table>
  </div>

  <% unless @resolved_issues.blank? %>
  <div class="issues box">
    <h3>Ocorrências resolvidas</h3>
    <table class="list issue-report">
      <thead>
        <tr>
          <th>Severidade</th>
          <th>Assunto</th>
          <th>Estado</th>
          <th>Abertura</th>
          <th>Encerramento</th>
          <th>Tempo decorrido (hs)</th>
          <!--<th>Histórico</th>-->
        </tr>
      </thead>
      <tbody>
      <% @resolved_issues.each do |issue| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= issue.severity %></td>
          <td class="subject"><%= link_to issue.subject, issue_path(issue) %></td>
          <td><%= issue.status %></td>
          <td><%= format_date(issue.created_on) %></td>
          <td><%= format_date(issue.due_date) %></td>
          <td><%= format_hour(@resolved_details[:hours][issue.id]) %></td>
          <!--<td class="subject"><%#= @resolved_details[:histories][issue.id].to_s.html_safe %></td>-->
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% end %>

  <% unless @unresolved_issues.blank? %>
  <div class="issues box">
    <h3>Ocorrências não resolvidas</h3>
    <table class="list issue-report">
      <thead>
        <tr>
          <th>Severidade</th>
          <th>Assunto</th>
          <th>Estado</th>
          <th>Abertura</th>
          <!--<th>Horas</th>-->
          <!--<th>Histórico</th>-->
        </tr>
      </thead>
      <tbody>
      <% @unresolved_issues.each do |issue| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= issue.severity %></td>
          <td class="subject"><%= link_to issue.subject, issue_path(issue) %></td>
          <td><%= issue.status %></td>
          <td><%= format_date(issue.created_on) %></td>
          <!--<td><%#= @unresolved_details[:hours][issue.id] %></td>-->
          <!--<td class="subject"><%#= @unresolved_details[:histories][issue.id].to_s.html_safe %></td>-->
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
<% end %>

<% include_calendar_headers_tags %>
